# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/
*.egg


# Environments
.venv/

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/